/* Colors */
:root {
  --text: #646464;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--text);
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  
  margin-top: 45vh;
  padding: 0 35px;
}

a {
  text-decoration: none;
  color: var(--text);
}