---
permalink: /
---

{% extends 'page.njk' %}

{% block body %}
<h1>
  👋 Hello from <a href="https://github.com/misakimichy/goodpete" target="_blank">Good Pete</a>, a small family office in Texas.
</h1>
{% endblock %}