---
permalink: /
---

{% extends 'page.njk' %}

{% block body %}
<h1 style="font-size: 40px; font-weight: 300; color: #646464; text-align: center; margin-top: 45vh; padding: 0 35px;">
  👋 Hello from Good Pete, a small family office in Texas.
</h1>
{% endblock %}